Source: ancientsolutions-crypttools
Maintainer: Caoimhe Chaos <caoimhechaos@protonmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.5

Package: python-ancientsolutions-crypttools
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-crypto
Description: Python Cryptography Utilities
 ancientsolutions-crypttools offers a number of helper methods for using the
 regular cryptographic routines in Python. It offers simplified methods for
 opening and extracting RSA keys from files, for example.
