#!/usr/bin/make -f

export PYBUILD_DESTDIR_python2=debian/python-ancientsolutions-crypttools/
export PYBUILD_DESTDIR_python2-dbg=debian/python-ancientsolutions-crypttools-dbg/
export PYBUILD_DESTDIR_python3=debian/python3-ancientsolutions-crypttools/
export PYBUILD_DESTDIR_python3-dbg=debian/python3-ancientsolutions-crypttools-dbg/
export PYBUILD_DISABLE_python3=test

override_dh_auto_configure:
	py.test --genscript=runtests.py
	dh_auto_configure -O--buildsystem=pybuild

override_dh_auto_test:
	python runtests.py
	dh_auto_test -O--buildsystem=pybuild

%:
	dh $@ --with python2,python3 --buildsystem=pybuild
